body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-top: 10px;
}

.submitButton{
  margin-top: 10px;
}

.core-colors {
  display: inline-block;
  width: 300px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: #4894f0;
  color: #FFF;
}